<main>
  <div class="container mt-3">
    <div class="row">
      <div class="mx-auto ">
        <h1>Welcome to <i class="fa fa-book"></i><span class="font-weight-bold">Bookers!</span></h1>
      </div>
    </div>
  </div>
</main>